First, import agate.

In [1]:
import agate

Then, import the data. We'll force the 'FIPS' and 'CombinedFIPS' columns to be Text.

In [2]:
tester = agate.TypeTester(force={
        'FIPS': agate.Text(),
        'CombinedFIPS': agate.Text()
    })
amenities = agate.Table.from_csv('naturalamenities.csv', column_types=tester)

Print the column names and types.

In [3]:
print(amenities)

|-------------------------+---------------|
|  column_names           | column_types  |
|-------------------------+---------------|
|  FIPS                   | Text          |
|  CombinedFIPS           | Text          |
|  STATE                  | Text          |
|  County name            | Text          |
|  CensusDivision         | Number        |
|  RuralUrbanCode         | Number        |
|  UrbanInfluenceCode     | Number        |
|  MeanJanuaryTemp        | Number        |
|  MeanJanuarySun         | Number        |
|  MeanJulyTemp           | Number        |
|  MeanJulyHumidity       | Number        |
|  TopographyCode         | Number        |
|  PercentWaterArea       | Number        |
|  NaturalLogPercentWater | Number        |
|  JanTempZScore          | Number        |
|  JanSunZScore           | Number        |
|  JulyTempZScore         | Number        |
|  JulyHumidityZScore     | Number        |
|  TopoZScore             | Number        |
|  WaterAreaZScore        | Number        |
|  NaturalAmenityScale    | Number        |
|  NaturualAmenityRank    | Number        |
|-------------------------+---------------|

I'm only interested in certain columns, so I created a new table with only those columns.

In [4]:
amenities = amenities.select(['CombinedFIPS', 'STATE', 'County name', 'NaturalAmenityScale'])

Now, I order the entries by the amenity scale.

In [5]:
ordered = amenities.order_by('NaturalAmenityScale')

And print those out.

In [6]:
ordered.print_table(max_rows=50)

|---------------+-------+--------------+----------------------|
|  CombinedFIPS | STATE | County name  | NaturalAmenityScale  |
|---------------+-------+--------------+----------------------|
|  27125        | MN    | RED LAKE     |               -6.40  |
|  27167        | MN    | WILKIN       |               -6.10  |
|  18159        | IN    | TIPTON       |               -5.40  |
|  27107        | MN    | NORMAN       |               -5.37  |
|  27099        | MN    | MOWER        |               -5.18  |
|  38067        | ND    | PEMBINA      |               -5.18  |
|  38097        | ND    | TRAILL       |               -5.12  |
|  27039        | MN    | DODGE        |               -5.08  |
|  38035        | ND    | GRAND FORKS  |               -5.01  |
|  27113        | MN    | PENNINGTON   |               -4.97  |
|  27069        | MN    | KITTSON      |               -4.90  |
|  19075        | IA    | GRUNDY       |               -4.86  |
|  38017        | ND    | CASS         |               -4.84  |
|  18007        | IN    | BENTON       |               -4.71  |
|  17019        | IL    | CHAMPAIGN    |               -4.55  |
|  19119        | IA    | LYON         |               -4.49  |
|  19109        | IA    | KOSSUTH      |               -4.47  |
|  19191        | IA    | WINNESHIEK   |               -4.44  |
|  18023        | IN    | CLINTON      |               -4.37  |
|  55019        | WI    | CLARK        |               -4.34  |
|  27135        | MN    | ROSEAU       |               -4.30  |
|  27133        | MN    | ROCK         |               -4.25  |
|  19141        | IA    | OBRIEN       |               -4.23  |
|  17147        | IL    | PIATT        |               -4.21  |
|  38073        | ND    | RANSOM       |               -4.21  |
|  27071        | MN    | KOOCHICHING  |               -4.20  |
|  19069        | IA    | FRANKLIN     |               -4.18  |
|  27027        | MN    | CLAY         |               -4.17  |
|  19089        | IA    | HOWARD       |               -4.16  |
|  27117        | MN    | PIPESTONE    |               -4.13  |
|  19131        | IA    | MITCHELL     |               -4.10  |
|  19065        | IA    | FAYETTE      |               -4.09  |
|  19081        | IA    | HANCOCK      |               -4.06  |
|  19091        | IA    | HUMBOLDT     |               -4.05  |
|  27089        | MN    | MARSHALL     |               -4.05  |
|  31185        | NE    | YORK         |               -4.05  |
|  19067        | IA    | FLOYD        |               -4.03  |
|  17053        | IL    | FORD         |               -4.02  |
|  31179        | NE    | WAYNE        |               -4.02  |
|  17075        | IL    | IROQUOIS     |               -4.00  |
|  31059        | NE    | FILLMORE     |               -4.00  |
|  38095        | ND    | TOWNER       |               -3.99  |
|  18075        | IN    | JAY          |               -3.98  |
|  21213        | KY    | SIMPSON      |               -3.98  |
|  27173        | MN    | YELLOW MEDIC |               -3.98  |
|  18139        | IN    | RUSH         |               -3.97  |
|  27109        | MN    | OLMSTED      |               -3.96  |
|  17105        | IL    | LIVINGSTON   |               -3.95  |
|  19107        | IA    | KEOKUK       |               -3.95  |
|  38099        | ND    | WALSH        |               -3.95  |
|  ...          | ...   | ...          |                 ...  |
|---------------+-------+--------------+----------------------|

So, these are the 50 worst counties. Now, I'll create a new table with only these records.

In [7]:
top50 = ordered.where(lambda row: row['NaturalAmenityScale'] < -3.949)

And print it.

In [8]:
top50.print_table()

|---------------+-------+--------------+----------------------|
|  CombinedFIPS | STATE | County name  | NaturalAmenityScale  |
|---------------+-------+--------------+----------------------|
|  27125        | MN    | RED LAKE     |               -6.40  |
|  27167        | MN    | WILKIN       |               -6.10  |
|  18159        | IN    | TIPTON       |               -5.40  |
|  27107        | MN    | NORMAN       |               -5.37  |
|  27099        | MN    | MOWER        |               -5.18  |
|  38067        | ND    | PEMBINA      |               -5.18  |
|  38097        | ND    | TRAILL       |               -5.12  |
|  27039        | MN    | DODGE        |               -5.08  |
|  38035        | ND    | GRAND FORKS  |               -5.01  |
|  27113        | MN    | PENNINGTON   |               -4.97  |
|  27069        | MN    | KITTSON      |               -4.90  |
|  19075        | IA    | GRUNDY       |               -4.86  |
|  38017        | ND    | CASS         |               -4.84  |
|  18007        | IN    | BENTON       |               -4.71  |
|  17019        | IL    | CHAMPAIGN    |               -4.55  |
|  19119        | IA    | LYON         |               -4.49  |
|  19109        | IA    | KOSSUTH      |               -4.47  |
|  19191        | IA    | WINNESHIEK   |               -4.44  |
|  18023        | IN    | CLINTON      |               -4.37  |
|  55019        | WI    | CLARK        |               -4.34  |
|  27135        | MN    | ROSEAU       |               -4.30  |
|  27133        | MN    | ROCK         |               -4.25  |
|  19141        | IA    | OBRIEN       |               -4.23  |
|  17147        | IL    | PIATT        |               -4.21  |
|  38073        | ND    | RANSOM       |               -4.21  |
|  27071        | MN    | KOOCHICHING  |               -4.20  |
|  19069        | IA    | FRANKLIN     |               -4.18  |
|  27027        | MN    | CLAY         |               -4.17  |
|  19089        | IA    | HOWARD       |               -4.16  |
|  27117        | MN    | PIPESTONE    |               -4.13  |
|  19131        | IA    | MITCHELL     |               -4.10  |
|  19065        | IA    | FAYETTE      |               -4.09  |
|  19081        | IA    | HANCOCK      |               -4.06  |
|  19091        | IA    | HUMBOLDT     |               -4.05  |
|  27089        | MN    | MARSHALL     |               -4.05  |
|  31185        | NE    | YORK         |               -4.05  |
|  19067        | IA    | FLOYD        |               -4.03  |
|  17053        | IL    | FORD         |               -4.02  |
|  31179        | NE    | WAYNE        |               -4.02  |
|  17075        | IL    | IROQUOIS     |               -4.00  |
|  31059        | NE    | FILLMORE     |               -4.00  |
|  38095        | ND    | TOWNER       |               -3.99  |
|  18075        | IN    | JAY          |               -3.98  |
|  21213        | KY    | SIMPSON      |               -3.98  |
|  27173        | MN    | YELLOW MEDIC |               -3.98  |
|  18139        | IN    | RUSH         |               -3.97  |
|  27109        | MN    | OLMSTED      |               -3.96  |
|  17105        | IL    | LIVINGSTON   |               -3.95  |
|  19107        | IA    | KEOKUK       |               -3.95  |
|  38099        | ND    | WALSH        |               -3.95  |
|---------------+-------+--------------+----------------------|

Just for fun, I grouped the records by state.

In [9]:
states = top50.group_by('STATE')

Counted them.

In [10]:
states = states.aggregate([
    ('count', agate.Count())
])

Ordered them.

In [11]:
states = states.order_by('count')

And printed them.

In [12]:
states.print_table()

|--------+--------|
|  STATE | count  |
|--------+--------|
|  WI    |     1  |
|  KY    |     1  |
|  NE    |     3  |
|  IN    |     5  |
|  IL    |     5  |
|  ND    |     7  |
|  IA    |    13  |
|  MN    |    15  |
|--------+--------|

Then, I sent the top50 and ordered sets out to a .csv

In [13]:
top50.to_csv('Top50.csv')

In [14]:
ordered.to_csv('ordered.csv')