In [2]:
import agate

In [3]:
big10 = agate.Table.from_csv('colleges.csv')

In [4]:
print(big10)

|-----------------------------------------------------------------------------+---------------|
|  column_names                                                               | column_types  |
|-----------------------------------------------------------------------------+---------------|
|  UnitID                                                                     | Number        |
|  Institution Name                                                           | Text          |
|  Total price for in-state students living on campus 2012-13 (DRVIC2012)     | Number        |
|  Total price for out-of-state students living on campus 2012-13 (DRVIC2012) | Number        |
|  Graduation rate  total cohort (DRVGR2012)                                  | Number        |
|-----------------------------------------------------------------------------+---------------|

In [5]:
big10.print_table()

|----------+--------------------------------------------+------------------------------------------------------------------------+----------------------------------------------------------------------------+--------------------------------------------|
|   UnitID | Institution Name                           | Total price for in-state students living on campus 2012-13 (DRVIC2012) | Total price for out-of-state students living on campus 2012-13 (DRVIC2012) | Graduation rate  total cohort (DRVGR2012)  |
|----------+--------------------------------------------+------------------------------------------------------------------------+----------------------------------------------------------------------------+--------------------------------------------|
|  151,351 | Indiana University-Bloomington             |                                                                 23,116 |                                                                     44,566 |                                        75  |
|  171,100 | Michigan State University                  |                                                                 24,028 |                                                                     43,986 |                                        79  |
|  147,767 | Northwestern University                    |                                                                 60,840 |                                                                     60,840 |                                        93  |
|  204,796 | Ohio State University-Main Campus          |                                                                 24,919 |                                                                     40,327 |                                        82  |
|  214,777 | Pennsylvania State University-Main Campus  |                                                                 31,854 |                                                                     44,156 |                                        86  |
|  243,780 | Purdue University-Main Campus              |                                                                 23,468 |                                                                     42,270 |                                        69  |
|  186,380 | Rutgers University-New Brunswick           |                                                                 28,798 |                                                                     42,118 |                                        79  |
|  145,637 | University of Illinois at Urbana-Champaign |                                                                 28,564 |                                                                     42,706 |                                        84  |
|  153,658 | University of Iowa                         |                                                                 21,832 |                                                                     40,054 |                                        70  |
|  163,286 | University of Maryland-College Park        |                                                                 23,346 |                                                                     41,725 |                                        82  |
|  170,976 | University of Michigan-Ann Arbor           |                                                                 25,848 |                                                                     51,976 |                                        91  |
|  174,066 | University of Minnesota-Twin Cities        |                                                                 25,065 |                                                                     30,315 |                                        73  |
|  181,464 | University of Nebraska-Lincoln             |                                                                 21,700 |                                                                     34,450 |                                        65  |
|  240,444 | University of Wisconsin-Madison            |                                                                 23,762 |                                                                     40,012 |                                        82  |
|----------+--------------------------------------------+------------------------------------------------------------------------+----------------------------------------------------------------------------+--------------------------------------------|

In [6]:
big10.order_by('Graduation rate  total cohort (DRVGR2012)', reverse=True).print_table()

|----------+--------------------------------------------+------------------------------------------------------------------------+----------------------------------------------------------------------------+--------------------------------------------|
|   UnitID | Institution Name                           | Total price for in-state students living on campus 2012-13 (DRVIC2012) | Total price for out-of-state students living on campus 2012-13 (DRVIC2012) | Graduation rate  total cohort (DRVGR2012)  |
|----------+--------------------------------------------+------------------------------------------------------------------------+----------------------------------------------------------------------------+--------------------------------------------|
|  147,767 | Northwestern University                    |                                                                 60,840 |                                                                     60,840 |                                        93  |
|  170,976 | University of Michigan-Ann Arbor           |                                                                 25,848 |                                                                     51,976 |                                        91  |
|  214,777 | Pennsylvania State University-Main Campus  |                                                                 31,854 |                                                                     44,156 |                                        86  |
|  145,637 | University of Illinois at Urbana-Champaign |                                                                 28,564 |                                                                     42,706 |                                        84  |
|  204,796 | Ohio State University-Main Campus          |                                                                 24,919 |                                                                     40,327 |                                        82  |
|  163,286 | University of Maryland-College Park        |                                                                 23,346 |                                                                     41,725 |                                        82  |
|  240,444 | University of Wisconsin-Madison            |                                                                 23,762 |                                                                     40,012 |                                        82  |
|  171,100 | Michigan State University                  |                                                                 24,028 |                                                                     43,986 |                                        79  |
|  186,380 | Rutgers University-New Brunswick           |                                                                 28,798 |                                                                     42,118 |                                        79  |
|  151,351 | Indiana University-Bloomington             |                                                                 23,116 |                                                                     44,566 |                                        75  |
|  174,066 | University of Minnesota-Twin Cities        |                                                                 25,065 |                                                                     30,315 |                                        73  |
|  153,658 | University of Iowa                         |                                                                 21,832 |                                                                     40,054 |                                        70  |
|  243,780 | Purdue University-Main Campus              |                                                                 23,468 |                                                                     42,270 |                                        69  |
|  181,464 | University of Nebraska-Lincoln             |                                                                 21,700 |                                                                     34,450 |                                        65  |
|----------+--------------------------------------------+------------------------------------------------------------------------+----------------------------------------------------------------------------+--------------------------------------------|

In [12]:
big10.order_by('Graduation rate  total cohort (DRVGR2012)', reverse=True).print_bars('Institution Name', 'Graduation rate  total cohort (DRVGR2012)', width=115)

Institution Name                           Graduation rate  total cohort (DRVGR2012)
Northwestern University                                                           93 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░
University of Michigan-Ann Arbor                                                  91 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░
Pennsylvania State University-Main Campus                                         86 ▓░░░░░░░░░░░░░░░░░░░░░░░░░
University of Illinois at Urbana-Champaign                                        84 ▓░░░░░░░░░░░░░░░░░░░░░░░░
Ohio State University-Main Campus                                                 82 ▓░░░░░░░░░░░░░░░░░░░░░░░░
University of Maryland-College Park                                               82 ▓░░░░░░░░░░░░░░░░░░░░░░░░
University of Wisconsin-Madison                                                   82 ▓░░░░░░░░░░░░░░░░░░░░░░░░
Michigan State University                                                         79 ▓░░░░░░░░░░░░░░░░░░░░░░░
Rutgers University-New Brunswick                                                  79 ▓░░░░░░░░░░░░░░░░░░░░░░░
Indiana University-Bloomington                                                    75 ▓░░░░░░░░░░░░░░░░░░░░░░
University of Minnesota-Twin Cities                                               73 ▓░░░░░░░░░░░░░░░░░░░░░
University of Iowa                                                                70 ▓░░░░░░░░░░░░░░░░░░░░
Purdue University-Main Campus                                                     69 ▓░░░░░░░░░░░░░░░░░░░░
University of Nebraska-Lincoln                                                    65 ▓░░░░░░░░░░░░░░░░░░░
                                                                                     +------+------+-------+------+
                                                                                     0     25     50      75    100

In [16]:
average_tuition = big10.aggregate(agate.Mean('Total price for in-state students living on campus 2012-13 (DRVIC2012)'))

In [14]:
print(average_tuition)

27652.85714285714285714285714

In [17]:
median_tuition = big10.aggregate(agate.Median('Total price for in-state students living on campus 2012-13 (DRVIC2012)'))

print(median_tuition)

In [18]:
print(median_tuition)

24473.5