# Data joining

The assignment:
>Often, in data, we have one set of information stored in a table over here, and another set of information stored in a table over here. At the university, your student records are scattered in tables all over. Somewhere, there is a master student record, that has your name, birthdate, ID number, home address and other basic info. Then, over in the registrars office, we have the classes you took and the grades you received. Over here, we have the bursars office, which shows how much you owe in tuition and how much you've paid. If we wanted to get a single table together that showed how much you paid for each grade you got, we'd have to JOIN them together somehow.  
>
>There are three data files in the Data folder in the class repository: frl13, frl14, and frl15. They are the Free and Reduced Lunch participation totals for every school in Nebraska. I want you to join them together into a single table and calculate the percent change from 2013 to 2015 and sort them by the largest. Which school in Nebraska saw the largest increase in participation in free and reduced school lunches, which is a proxy for poverty.

First, import agate.

In [1]:
import agate

I have already gone into each dataset and created a new column named `JOIN`, with the year after it. This is for later use.

We need to import each table. We'll print the column names and types, as well as the length.

In [2]:
frl13 = agate.Table.from_csv('FRLJoin13.csv')
print(frl13)
print(len(frl13.rows))

|----------------+------------|
|  column        | data_type  |
|----------------+------------|
|  FY13          | Text       |
|  JOIN13        | Text       |
|  COUNTY13      | Text       |
|  CODISTSCH13   | Number     |
|  SCHOOLNAME13  | Text       |
|  SCHOOLTYPE13  | Text       |
|  GRADE13       | Text       |
|  ENROLLED13    | Number     |
|  FREEREDUCED13 | Number     |
|  PERCENT13     | Number     |
|  WARNING3      | Text       |
|----------------+------------|

1249

In [3]:
frl14 = agate.Table.from_csv('FRLJoin14.csv')
print(frl14)
print(len(frl14.rows))

|----------------+------------|
|  column        | data_type  |
|----------------+------------|
|  FY14          | Text       |
|  JOIN14        | Text       |
|  COUNTY14      | Text       |
|  CODISTSCH14   | Number     |
|  SCHOOLNAME14  | Text       |
|  SCHOOLTYPE14  | Text       |
|  GRADE14       | Text       |
|  ENROLLED14    | Number     |
|  FREEREDUCED14 | Number     |
|  PERCENT14     | Number     |
|  WARNING14     | Text       |
|  CEP14         | Text       |
|----------------+------------|

1236

In [4]:
frl15 = agate.Table.from_csv('FRLJoin15.csv')
print(frl15)
print(len(frl15.rows))

|------------------+------------|
|  column          | data_type  |
|------------------+------------|
|  FY15            | Text       |
|  JOIN15          | Text       |
|  COUNTY15        | Text       |
|  CODISTSCH15     | Number     |
|  SCHOOLNAME15    | Text       |
|  SCHOOLTYPE15    | Text       |
|  GRADE15         | Text       |
|  ENROLLED15      | Number     |
|  FREEREDUCED15   | Number     |
|  PERCENT15       | Number     |
|  WARNING15       | Text       |
|  CEP_Indicator15 | Text       |
|------------------+------------|

1229

Now, we'll join the 2013 and 2014 data, using the join method. We're joining using the column that I created earlier to prevent any duplicates.

In [5]:
frl1314 = frl14.join(frl13, 'JOIN14','JOIN13', inner=True)

And we'll print it.

In [6]:
print(frl1314)

|----------------+------------|
|  column        | data_type  |
|----------------+------------|
|  FY14          | Text       |
|  JOIN14        | Text       |
|  COUNTY14      | Text       |
|  CODISTSCH14   | Number     |
|  SCHOOLNAME14  | Text       |
|  SCHOOLTYPE14  | Text       |
|  GRADE14       | Text       |
|  ENROLLED14    | Number     |
|  FREEREDUCED14 | Number     |
|  PERCENT14     | Number     |
|  WARNING14     | Text       |
|  CEP14         | Text       |
|  FY13          | Text       |
|  COUNTY13      | Text       |
|  CODISTSCH13   | Number     |
|  SCHOOLNAME13  | Text       |
|  SCHOOLTYPE13  | Text       |
|  GRADE13       | Text       |
|  ENROLLED13    | Number     |
|  FREEREDUCED13 | Number     |
|  ...           | ...        |
|----------------+------------|

Looks like everything worked properly. Now let's join this new table with the 2015 data.

In [7]:
frlTotal = frl15.join(frl1314, 'JOIN15', 'JOIN14', inner=True)

And print it.

In [8]:
print(frlTotal)
print(len(frlTotal.rows))

|------------------+------------|
|  column          | data_type  |
|------------------+------------|
|  FY15            | Text       |
|  JOIN15          | Text       |
|  COUNTY15        | Text       |
|  CODISTSCH15     | Number     |
|  SCHOOLNAME15    | Text       |
|  SCHOOLTYPE15    | Text       |
|  GRADE15         | Text       |
|  ENROLLED15      | Number     |
|  FREEREDUCED15   | Number     |
|  PERCENT15       | Number     |
|  WARNING15       | Text       |
|  CEP_Indicator15 | Text       |
|  FY14            | Text       |
|  COUNTY14        | Text       |
|  CODISTSCH14     | Number     |
|  SCHOOLNAME14    | Text       |
|  SCHOOLTYPE14    | Text       |
|  GRADE14         | Text       |
|  ENROLLED14      | Number     |
|  FREEREDUCED14   | Number     |
|  ...             | ...        |
|------------------+------------|

1181

We lost a few records, but that's likely because of reporting problems or changes between the reports.

Now, we need to filter out records that don't have a value for `FREEREDUCED`.

In [9]:
frlTotalFiltered1 = frlTotal.where(lambda row: row['FREEREDUCED15'] != None)
frlTotalFiltered2 = frlTotalFiltered1.where(lambda row: row['FREEREDUCED14'] != None)
frlTotalFiltered3 = frlTotalFiltered2.where(lambda row: row['FREEREDUCED13'] != None)

Then, we can compute the percent change of `FREEREDUCED` from 2013 to 2015. I also decided to find the percent change of `ENROLLMENT`, as I wanted to see the relationship.

In [10]:
change = frlTotalFiltered3.compute([
        ('Enrollment_change', agate.PercentChange('ENROLLED15', 'ENROLLED13')),
        ('FreeReduced_change', agate.PercentChange('FREEREDUCED15', 'FREEREDUCED13'))
    ])

Now we'll sort the table by the `FREEREDUCED` percent change.

In [11]:
sorted_change = change.order_by('FreeReduced_change', reverse=True)

And we'll select the columns we want for printing.

In [12]:
for_printing = sorted_change.select(['SCHOOLNAME15','Enrollment_change', 'FreeReduced_change'])

And print it.

In [13]:
for_printing.print_table()

|-----------------------+----------------------+-----------------------|
|  SCHOOLNAME15         |    Enrollment_change |   FreeReduced_change  |
|-----------------------+----------------------+-----------------------|
|  MAYWOOD HIGH SCHOOL  | 20.00000000000000... | 169.2307692307692...  |
|  WHEELER CENTRAL HIGH | 51.61290322580645... | 150.0000000000000...  |
|  WEEPING WATER HIG... | 73.11827956989247... | 138.0952380952380...  |
|  LYNCH SECONDARY S... | 46.87500000000000... | 127.2727272727272...  |
|  LOCKWOOD PRESCHOOL   | 10.52631578947368... | 127.2727272727272...  |
|  SPALDING ACADEMY ... | 5.128205128205128... | 125.0000000000000...  |
|  ST MARY ELEMENTAR... | -6.52173913043478... | 120.0000000000000...  |
|  ZION LUTHERAN ELE... | 152.7777777777777... | 110.0000000000000...  |
|  UPCHURCH ELEMENTARY  | 12.84246575342465... | 109.5238095238095...  |
|  BEEMER ELEMENTARY... | 102.8571428571428... | 100.0000000000000...  |
|  STRATTON ELEMENTA... | 22.58064516129032... | 100.0000000000000...  |
|  HAY SPRINGS HIGH ... | 22.50000000000000... | 100.0000000000000...  |
|  ELKHORN MIDDLE SC... | 71.01449275362318... | 95.00000000000000...  |
|  CAMBRIDGE HIGH SC... | 53.27102803738317... | 90.24390243902439...  |
|  ELEMENTARY SCHOOL... | 3.726708074534161... | 87.50000000000000...  |
|  BRADY HIGH SCHOOL    | 12.50000000000000... | 80.76923076923076...  |
|  CODY-KILGORE HIGH... | 34.37500000000000... | 75.75757575757575...  |
|  ZION LUTHERAN ELE... | -5.20833333333333... | 75.00000000000000...  |
|  VERDIGRE MIDDLE S... | 63.63636363636363... | 72.72727272727272...  |
|  MAYWOOD ELEMENTAR... | 7.339449541284403... | 67.74193548387096...  |
|  ...                  |                  ... |                  ...  |
|-----------------------+----------------------+-----------------------|

It's a little hard to read. Let's round those percent changes.

In [14]:
from decimal import Decimal

def round_frchange(row):
    return row['FreeReduced_change'].quantize(Decimal('0.1'))

roundedFR_change = sorted_change.compute([
        ('FreeReduced_rounded', agate.Formula(agate.Number(), round_frchange))
    ])

In [15]:
def round_enrollchange(row):
    return row['Enrollment_change'].quantize(Decimal('0.1'))

roundedEnroll_change = roundedFR_change.compute([
        ('Enrollment_rounded', agate.Formula(agate.Number(), round_enrollchange))
    ])

Now, we'll select our columns again and print the table.

In [16]:
rounded_for_printing = roundedEnroll_change.select(['SCHOOLNAME15', 'FreeReduced_rounded', 'Enrollment_rounded'])

In [17]:
rounded_for_printing.print_table()

|-----------------------+---------------------+---------------------|
|  SCHOOLNAME15         | FreeReduced_rounded | Enrollment_rounded  |
|-----------------------+---------------------+---------------------|
|  MAYWOOD HIGH SCHOOL  |               169.2 |               20.0  |
|  WHEELER CENTRAL HIGH |               150.0 |               51.6  |
|  WEEPING WATER HIG... |               138.1 |               73.1  |
|  LYNCH SECONDARY S... |               127.3 |               46.9  |
|  LOCKWOOD PRESCHOOL   |               127.3 |               10.5  |
|  SPALDING ACADEMY ... |               125.0 |                5.1  |
|  ST MARY ELEMENTAR... |               120.0 |               -6.5  |
|  ZION LUTHERAN ELE... |               110.0 |              152.8  |
|  UPCHURCH ELEMENTARY  |               109.5 |               12.8  |
|  BEEMER ELEMENTARY... |               100.0 |              102.9  |
|  STRATTON ELEMENTA... |               100.0 |               22.6  |
|  HAY SPRINGS HIGH ... |               100.0 |               22.5  |
|  ELKHORN MIDDLE SC... |                95.0 |               71.0  |
|  CAMBRIDGE HIGH SC... |                90.2 |               53.3  |
|  ELEMENTARY SCHOOL... |                87.5 |                3.7  |
|  BRADY HIGH SCHOOL    |                80.8 |               12.5  |
|  CODY-KILGORE HIGH... |                75.8 |               34.4  |
|  ZION LUTHERAN ELE... |                75.0 |               -5.2  |
|  VERDIGRE MIDDLE S... |                72.7 |               63.6  |
|  MAYWOOD ELEMENTAR... |                67.7 |                7.3  |
|  ...                  |                 ... |                ...  |
|-----------------------+---------------------+---------------------|

Looks like Maywood High School saw the largest increase in participation in free and reduced school lunches.