# Downtown Lincoln Multi-Family Unit Growth

This data analyzes the number of multi-family units built in Downtown Lincoln since 2002. Data is from Paul Barnes, Long Range Planning Manager for the Lincoln Planning Department.

In [1]:
import agate

After importing `agate`, I imported the data into a table named `apts`.

In [2]:
apts = agate.Table.from_csv('Building Permits.csv')

In [3]:
print(apts)

|-----------------------+---------------|
|  column_names         | column_types  |
|-----------------------+---------------|
|  Project Name         | Text          |
|  Location             | Text          |
|  Sudio/Effic.         | Number        |
|  1 bed                | Number        |
|  2 bed                | Number        |
|  3 bed                | Number        |
|  4 bed                | Number        |
|  5+ bed               | Boolean       |
|  Total Beds           | Text          |
|  Dwelling Units Built | Number        |
|  Approved or Proposed | Number        |
|  Bldg Permit          | Text          |
|  Permit Year          | Number        |
|-----------------------+---------------|

I created a new table called `permit_year` by taking the "Project Name" and "Permit Year" columns from the `apts` table. Then, I removed the records without a year and sorted the records by "Permit Year".

In [4]:
permit_year = apts.select(['Project Name', 'Permit Year'])

In [5]:
permit_year = permit_year.where(lambda row: row['Permit Year'] != None)

In [6]:
permit_year = permit_year.order_by('Permit Year')

In [7]:
permit_year.print_table()

|-----------------------+--------------|
|  Project Name         | Permit Year  |
|-----------------------+--------------|
|  The Lincoln Build... |       2,002  |
|  Grand Manse          |       2,004  |
|  UNL-The Courtyards   |       2,004  |
|  UNL-The Village      |       2,005  |
|  The Option (condos)  |       2,006  |
|  W.C. Shinn Lofts     |       2,009  |
|  UNL-Knoll Residen... |       2,009  |
|  Lincoln Flats        |       2,010  |
|  Cadillac Lofts       |       2,011  |
|  Freadrich Building   |       2,011  |
|  Parkhaus             |       2,011  |
|  Arena Lofts          |       2,012  |
|  Canopy Lofts         |       2,012  |
|  Hobson Place (con... |       2,012  |
|  UNL-University Su... |       2,012  |
|  50/50                |       2,013  |
|  Aerie 147 Lofts      |       2,013  |
|  UNL-Eastside         |       2,013  |
|  Case, Case and Case  |       2,014  |
|  Latitude             |       2,014  |
|  Prime Place          |       2,014  |
|  8N Lofts             |       2,015  |
|  Aspen                |       2,015  |
|-----------------------+--------------|

I grouped the records by year and counted them to see how many building permits were given out per year.

In [8]:
permit_by_year = permit_year.group_by('Permit Year')

In [9]:
permit_by_year_totals = permit_by_year.aggregate([
    ('count', agate.Count())
])

In [10]:
permit_by_year_totals.print_table()

|--------------+--------|
|  Permit Year | count  |
|--------------+--------|
|        2,002 |     1  |
|        2,004 |     2  |
|        2,005 |     1  |
|        2,006 |     1  |
|        2,009 |     2  |
|        2,010 |     1  |
|        2,011 |     3  |
|        2,012 |     4  |
|        2,013 |     3  |
|        2,014 |     3  |
|        2,015 |     2  |
|--------------+--------|

In [11]:
permit_by_year_totals.print_bars(label_column_name='Permit Year', value_column_name='count', width=80)

Permit Year count
2002            1 ▓░░░░░░░░░░░░░░░
2004            2 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2005            1 ▓░░░░░░░░░░░░░░░
2006            1 ▓░░░░░░░░░░░░░░░
2009            2 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2010            1 ▓░░░░░░░░░░░░░░░
2011            3 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2012            4 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2013            3 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2014            3 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2015            2 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                  +--------------+--------------+---------------+--------------+
                  0              1              2               3              4

Next, I created a new table using the "Dwelling Units Built" and "Permit Year" columns from the `apts` table. I removed the records with no "Dwelling Units Built" value and ordered by the "Permit Year" value.

In [19]:
dwelling_year = apts.select(['Approved or Proposed', 'Permit Year'])

In [20]:
dwelling_year = dwelling_year.where(lambda row: row['Approved or Proposed'] != None)

In [23]:
dwelling_year = dwelling_year.where(lambda row: row['Permit Year'] != None)

In [24]:
dwelling_year = dwelling_year.order_by('Permit Year')

In [25]:
dwelling_year.print_table()

|-----------------------+--------------|
|  Approved or Proposed | Permit Year  |
|-----------------------+--------------|
|                    50 |       2,002  |
|                    52 |       2,004  |
|                   132 |       2,004  |
|                   213 |       2,005  |
|                    13 |       2,006  |
|                    15 |       2,009  |
|                   143 |       2,009  |
|                    22 |       2,010  |
|                    21 |       2,011  |
|                     6 |       2,011  |
|                    52 |       2,011  |
|                    66 |       2,012  |
|                    71 |       2,012  |
|                    32 |       2,012  |
|                   136 |       2,012  |
|                   124 |       2,013  |
|                    52 |       2,013  |
|                   136 |       2,013  |
|                    23 |       2,014  |
|                   199 |       2,014  |
|                   126 |       2,014  |
|                   172 |       2,015  |
|                   182 |       2,015  |
|-----------------------+--------------|

I then grouped by year to show how many dwelling units were built per year.

In [26]:
dwelling_by_year = dwelling_year.group_by('Permit Year')

In [27]:
dwelling_by_year_totals = dwelling_by_year.aggregate([
    ('sum', agate.Sum('Approved or Proposed'))
])

In [28]:
dwelling_by_year_totals.print_bars(label_column_name='Permit Year', value_column_name='sum', width=80)

Permit Year sum
2002         50 ▓░░░░░░░░
2004        184 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2005        213 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2006         13 ▓░░
2009        158 ▓░░░░░░░░░░░░░░░░░░░░░░░░░
2010         22 ▓░░░
2011         79 ▓░░░░░░░░░░░░
2012        305 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2013        312 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2014        348 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
2015        354 ▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                +---------------+---------------+--------------+---------------+
                0              100             200            300            400