# Homework 1 - UNL Salaries

*2/2/2016*

Aidan Connolly

First, we import agate in order to use it.

In [1]:
import agate

Next, we bring the info from a .csv file into a table using the `agate.Table.from_csv` function.

In [2]:
salaries = agate.Table.from_csv('nusalaries1415.csv')

We then use the `print` function to see the table's column names and types.

In [3]:
print(salaries)

|-------------------+---------------|
|  column_names     | column_types  |
|-------------------+---------------|
|  ID               | Number        |
|  Campus           | Text          |
|  DepartmentNumber | Date          |
|  DepartmentName   | Text          |
|  CostElement      | Number        |
|  Name             | Text          |
|  Title            | Text          |
|  Position         | Number        |
|  Class            | Number        |
|  Term             | Number        |
|  FTE              | Number        |
|  Salary           | Number        |
|-------------------+---------------|

We only want the salaries of people who work at the University of Nebraska-Lincoln. So, we use the `where` function to filter the table's contents. We filter the contents by only selecting records with a `'Campus'` field of `'UNIVERSITY OF NEBRASKA-LINCOLN'`. That is saved to the new variable, `filtered_salaries`.

In [4]:
filtered_salaries = salaries.where(lambda row: row['Campus'] == 'UNIVERSITY OF NEBRASKA - LINCOLN')

Now we use agate's `Mean` function to calculate an average salary. That's saved to the variable, `average_salary`.

In [7]:
average_salary = filtered_salaries.aggregate(agate.Mean('Salary'))

We can print `average_salary` to see its value.

In [8]:
print(average_salary)

71766.36931491076568796776051

And if we want to make it look pretty...

`{:,.2f}` formats the string.

`,` places commmas to divide the number

`.2f` rounds the number to two decimals

`sep=''` removes the space between the dollar sign and number

In [33]:
print("$", "{:,.2f}".format(average_salary), sep='')

$71,766.37

To find the median salary, we simply use agate's `Median` function.

In [9]:
median_salary = filtered_salaries.aggregate(agate.Median('Salary'))

And we can print that value as well.

In [34]:
print(median_salary)

54200

In [35]:
print("$", "{:,.2f}".format(median_salary), sep='')

$54,200.00